
body{

    background-color: #34495e;
    font-family: "Verdana";
}

h1, span, p{

    color: white;
    
}

.person-info{

    padding-right: 40px;
    padding-left: 40px;
    line-height: 30px;
    background-color: #e74c3c;
    text-align: left;
    
}

.person-images{

    background-color: #e74c3c;
    
}

.empti{

    width: 50px;
    height: 50px;
}

.info{
    color: #f1c40f
}

/* --- Хубаво е да не поставяш селектори само по таг навсякъде. 
    Причината е, че така ще направиш много по-трудно да презапишеш тези стилове, ако имаш други таблици.
    Поставянето на един клас ти подсигурява, че тези стилове ще са само за елементите, които те интересуват.
    Отгоре, където си сложил бял цвят на текста, е ок, тъй като там наистина искаш навсякъде по страницата да бъде приложен този стил.  --- */
.peopleCardWrapper{
    border-collapse: collapse;
    border: 1px solid #34495e;
}

